@media (max-width: 1300px) {
    .footer {
        &__info {
            grid-template-columns: 250px 250px;
            grid-template-rows: 1fr 1fr;
            gap: 10px 20px; 
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        font-size: 40px;
        &--small {
            font-size: 30px;
        }
    }
    .promo {
        &::after {
            height: 550px;
        }
        &__title {
            font-size: 50px;
        } 
        &__wrapper {
            padding-top: 100px;
            grid-template-columns: 500px 1fr;
        }
        &__btn {
            margin-top: 30px;
            padding: 10px 34px;
        }
    }
    .about {
        &::after {
            right: 0px;
        }
        &__tabs {
            max-height: 550px;
            &-btn {
                width: 60px;
                height: 8px;
                background: rgba(255, 255, 255, 0.5);
                border: none;
                border-radius: 25px;
                &--active {
                    background: #fff;
                }
            }
        }
    }
    .cat {
        &__wrapper {
            gap: 20px;
        }
        &__item {
            cursor: none;
        }
    }
    .story {
        &::before {
            top: 100px;
            height: 90%;
        }
        &__item {
            grid-template-columns: minmax(auto, 440px);
            grid-template-rows: auto;
            gap: 20px;
        }
        &__list {
            margin-top: 20px;
            padding: 0 25px;
        }
        &__img {
            grid-row: 2/3;
        }
    }
    .help {
        &::after {
            max-height: 100%;
        }
        &__box {
            position: absolute;
            width: 320px;
            left: 0;
            bottom: -110px;
        }
    }
    .footer {
        padding: 0 20px 20px;
        &__social {
            justify-content: flex-end;
            gap: 10px;
            &-item {
                width: 40px;
                height: 40px;
            }
            &-img {
                height: 18px;
            }
        }
    }
    .header {
        padding: 20px 25px;
        &__wrapper {
            gap: 10px;
        }
        &__list {
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__images {
            position: absolute;
            bottom: -195px;
            max-width: 250px;
            right: 56px;
        }
    }
    .info {
        margin-top: 270px;
        &__wrapper {
            gap: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr 520px;
        }
        &__tabs {
            position: absolute;
            bottom: -370px;
            left: 50px;
            height: 450px;
        }
        &__text {
            grid-column: 2/3;
        }
    }
    .cat {
        margin-top: 450px;
    }
    .help {
        margin-top: 50px;
        &__wrapper {
            grid-template-columns: 1fr 520px;
        }
        &__box {
            bottom: -73%;
        }
    }
    .contact {
        margin-top: 450px;
        &__wrapper {
            grid-template-columns: minmax(auto, 500px);
            grid-template-rows: auto;
            grid-auto-rows: auto;
            justify-content: center;
        }
        &__form {
            padding-bottom: 40px;
            grid-row: unset;
            order: 3;
        }
        &__box {
            order: 2;
        }
        &__info {
            order: 1;
        }
    }
    .footer {
        &__info {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
    .header {
        &__list {
            gap: 32px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .button {
        cursor: none;
        &:hover {
            background-color: $color-green;
        }
    }
    .promo {
        &::after {
            width: 95%;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__wrapper {
            padding-left: 25px;
            padding-top: 100px;
            grid-template-columns: 1fr;
        }
        &__images {
            bottom: -230px;
            right: 40px;
        }
    }
    .info {
        margin-top: 300px;
    }
    .about {
        margin-top: 100px;
        &::after {
            width: 95%;
        }
        &__tabs {
            bottom: -170px;
            left: unset;
            right: 40px;
            height: 350px;
            width: 250px;
            &-btns {
                bottom: 20px;
            }
            &-btn {
                width: 40px;
                height: 6px;
            }
        }
        &__text {
            padding: 100px 0px 10px 35px;
            grid-column: 1/2;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 820px;
        }
    }
    .cat {
        margin-top: 250px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 280px);
            grid-auto-rows: 280px;
        }
        &__item {
            grid-row: unset!important;
            grid-column: unset!important;
            &-back {
                font-size: 14px;
            }
        }
    }
    .story {
        &__list {
            padding: 0 80px;
        }
        &__btn {
            &--right {
                right: 0%;
            }
            &--left {
                left: 0%;
            }
        }
    }
    .help {
        &::after {
            width: 95%;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__box {
            bottom: -470px;
        }
    }
    .contact {
        margin-top: 490px;
        &__wrapper {
            margin-top: 50px;
        }
    }
    .header {
        transition: .4s all;
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }
        &__nav {
            top: 0;
            right: -100%;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            background-color: $color-green;
            transition: .8s all;
            height: 100vh;
            width: 250px;
            z-index: 5;
            &--active {
                opacity: 1;
                right: 0;
                visibility: visible;
            }
        }
        &__list {
            flex-direction: column;
            padding: 100px 40px 30px;
            &-link {
                color: $color-black;
                    &:hover {
                        color: $color-black;
                        border-bottom: inherit;
                        padding-bottom: inherit;
                    }
            }
        }
        &__contact {
            display: none;
        }
    }
    .hamburger {
        display: block;
        z-index: 20;
    }
    .header__nav--active + .hamburger {
        span {
            background-color: $color-black;
            &:first-child {
                top: 50%;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(45deg); 
            }
            &:nth-child(3) {
                bottom: 41.5%;
                transform: rotate(-45deg);
            }
        }
        
    }
}

@media (max-width: 650px) {
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 50px;
            padding-bottom: 20px;
        }
        &__info {
            line-height: 17px;
        }

    }
    
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        &--small {
            font-size: 27px;
        }
    }
    .text {
        &--24 {
            font-size: 21px;
        }
        &--20 {
            font-size: 17px;
        }
        &--17 {
            font-size: 14px;
            line-height: 22px;
        }
        &--16 {
            font-size: 13px;
            line-height: 18px;
        }
    }
    .promo {
        &::after {
            width: 100%;
            border-radius: 0;
        }
        &__text {
            text-align: center;
        }
        &__title {
            font-size: 40px;
            line-height: 38px;
        }
        &__wrapper {
            padding: 90px 0 25px;
        }
        &__images {
            width: 100%;
            bottom: -325px;
            right: 50%;
            transform: translateX(50%);
            &::after {
                left: -10px;
                bottom: -10px;
            }
        }
    }
    .info {
        margin-top: 420px;
    }
    .about {
        .divider {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .title {
            text-align: center;
        }
        &::after {
            width: 105%;
            height: 130%;
            border-radius: 0;
        }
        &__text {
            padding: 60px 0px 10px;
        }
        &__tabs {
            bottom: -335px;
            right: 50%;
            transform: translateX(50%);
        }
        &__wrapper {
            grid-template-rows: auto;
        }
    }
    .cat {
        margin-top: 420px;
        &__wrapper {
            grid-template-columns: 280px;
            justify-content: center;
        }
    }
    .story {
        margin-top: 40px;
        &::before {
            top: 60px;
            height: 95%;
        }
        &__list {
            padding: 0px 60px;
        }
        &__text {
            margin-top: 0;
        }
        &__descr {
            &::after, &::before {
                font-size: 30px;
            }
            &::after {
                content: '”';
                right: -20px;
                bottom: -20px;
            }
            &::before {
                content: '“';
                left: -20px;
                top: -4px;
            }
        }
    }
    .steps {
        &__item h4{
            font-size: 18px;
            line-height: 20px;
        }
    }
    .help {
        padding: 80px 10px;
        .divider {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .title {
            text-align: center;
        }
        &::after {
            width: 105%;
            height: 130%;
            border-radius: 0;
        }
        &__wrapper {
            grid-template-rows: auto;
        }
        &__list {
            margin-top: 30px;
        }
        &__content {
            grid-column: 1/2;
        }
        &__item {
            grid-template-rows: repeat(3, auto);
            grid-template-columns: 1fr;
            justify-items: center;
            &-round {
                grid-row: 1/2;
            }
        }
        &__box {
            width: 250px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -360px;
        }
    }
    .contact {
        margin-top: 370px;
        &__form {
            margin-top: 20px;
            padding: 40px 15px;            
            gap: 10px;
            &-title {
                font-size: 16px;
                text-align: center;
            }
            &-btn {
                font-size: 16px;
            }
            &-input, &-area {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 14px;
            }
            &-input {
                height: 45px;
            }
        }
        &__wrapper {
            gap: 30px;
            margin-top: 40px;
        }
        &__info {
            grid-template-columns: 1fr;
            gap: 0; 
            justify-items: center;
            &-title {
                margin-top: 10px;
            }
        }
    }
    .header {
        &__nav {
            width: 100%;
        }
        &__list {
            align-items: center;
        }
    }
}
@media (max-width: 420px) {
    .story {
        &__list {
            padding: 0px 50px;
        }
        &__btn {
            width: 30px;
            height: 30px;  
        }
    }
}