@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &::after {
            height: 550px;
        }
        &__title {
            font-size: 50px;
        } 
        &__wrapper {
            padding-top: 100px;
            grid-template-columns: 500px 1fr;

        }
        &__btn {
            margin-top: 30px;
            padding: 10px 34px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__images {
            position: absolute;
            bottom: -195px;
            max-width: 250px;
            right: 56px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .button {
        &:hover {
            background-color: $color-green;
        }
    }
    .promo {
        &::after {
            width: 95%;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__wrapper {
            padding-left: 15px;
            padding-top: 100px;
            grid-template-columns: 1fr;
        }
        &__images {
            bottom: -230px;
            right: 40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .text{
        &--17 {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .promo {
        &::after {
            width: 100%;
            border-radius: 0;
        }
        &__text {
            text-align: center;
        }
        &__title {
            font-size: 40px;
            line-height: 38px;
        }
        &__wrapper {
            padding: 90px 0 25px;
        }
        &__images {
            width: 100%;
            bottom: -325px;
            right: 50%;
            transform: translateX(50%);
        }
    }
}
