@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        font-size: 40px;
        &--small {
            font-size: 30px;
        }
    }
    .promo {
        &::after {
            height: 550px;
        }
        &__title {
            font-size: 50px;
        } 
        &__wrapper {
            padding-top: 100px;
            grid-template-columns: 500px 1fr;
        }
        &__btn {
            margin-top: 30px;
            padding: 10px 34px;
        }
    }
    .about {
        &::after {
            right: 0px;
        }
        &__tabs {
            max-height: 550px;
            &-btn {
                width: 60px;
                height: 8px;
                background: rgba(255, 255, 255, 0.5);
                border: none;
                border-radius: 25px;
                &--active {
                    background: #fff;
                }
            }
        }
    }
    .cat {
        &__wrapper {
            gap: 20px;
        }
        &__item {
            cursor: none;
        }
    }
    .story {
        &::before {
            top: 100px;
            height: 90%;
        }
        &__item {
            grid-template-columns: minmax(auto, 440px);
            grid-template-rows: auto;
            gap: 20px;
        }
        &__list {
            margin-top: 20px;
            padding: 0 25px;
        }
        &__img {
            grid-row: 2/3;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__images {
            position: absolute;
            bottom: -195px;
            max-width: 250px;
            right: 56px;
        }
    }
    .info {
        margin-top: 270px;
        &__wrapper {
            gap: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr 520px;
        }
        &__tabs {
            position: absolute;
            bottom: -370px;
            left: 50px;
            max-height: 450px;
        }
        &__text {
            grid-column: 2/3;
        }
    }
    .cat {
        margin-top: 450px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .button {
        &:hover {
            background-color: $color-green;
        }
    }
    .promo {
        &::after {
            width: 95%;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__wrapper {
            padding-left: 25px;
            padding-top: 100px;
            grid-template-columns: 1fr;
        }
        &__images {
            bottom: -230px;
            right: 40px;
        }
    }
    .info {
        margin-top: 300px;
    }
    .about {
        margin-top: 100px;
        &::after {
            width: 95%;
        }
        &__tabs {
            bottom: -170px;
            left: unset;
            right: 40px;
            max-height: 350px;
            &-btns {
                bottom: 20px;
            }
            &-btn {
                width: 40px;
                height: 6px;
            }
        }
        &__text {
            padding: 100px 0px 10px 35px;
            grid-column: 1/2;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 820px;

        }
    }
    .cat {
        margin-top: 250px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 280px);
            grid-auto-rows: 280px;
        }
        &__item {
            grid-row: unset!important;
            grid-column: unset!important;
            &-back {
                font-size: 14px;
            }
        }
    }
    .story {
        &__list {
            padding: 0 80px;
        }
        &__btn {
            &--right {
                right: 0%;
            }
            &--left {
                left: 0%;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        &--small {
            font-size: 27px;
        }
    }
    .text {
        &--24 {
            font-size: 21px;
        }
        &--20 {
            font-size: 17px;
        }
        &--17 {
            font-size: 14px;
            line-height: 22px;
        }
        &--16 {
            font-size: 13px;
            line-height: 18px;
        }
    }
    .promo {
        &::after {
            width: 100%;
            border-radius: 0;
        }
        &__text {
            text-align: center;
        }
        &__title {
            font-size: 40px;
            line-height: 38px;
        }
        &__wrapper {
            padding: 90px 0 25px;
        }
        &__images {
            width: 100%;
            bottom: -325px;
            right: 50%;
            transform: translateX(50%);
            &::after {
                left: -10px;
                bottom: -10px;
            }
        }
    }
    .info {
        margin-top: 420px;
    }
    .about {
        .divider {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .title {
            text-align: center;
        }
        &::after {
            width: 105%;
            height: 130%;
            border-radius: 0;
        }
        &__text {
            padding: 60px 0px 10px;
        }
        &__tabs {
            bottom: -335px;
            right: 50%;
            transform: translateX(50%);
        }
        &__wrapper {
            grid-template-rows: auto;
        }
    }
    .help {
        .divider {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    .cat {
        margin-top: 420px;
        &__wrapper {
            grid-template-columns: 280px;
            justify-content: center;
        }
    }
    .story {
        &::before {
            top: 60px;
            height: 95%;
        }
        &__list {
            padding: 0px 60px;
        }
        &__text {
            margin-top: 0;
        }
        &__descr {
            &::after, &::before {
                font-size: 30px;
            }
            &::after {
                content: '”';
                right: -20px;
                bottom: -20px;
            }
            &::before {
                content: '“';
                left: -20px;
                top: -4px;
            }
        }
    }
}
@media (max-width: 420px) {
    .story {
        &__list {
            padding: 0px 50px;
        }
        &__btn {
            width: 30px;
            height: 30px;  
        }
    }
}