.promo {
    position: relative;
    margin: 150px auto 0 auto;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $color-grey;
        height: 600px;
        width: 80%;
        z-index: -10;
        border-radius: 0px 25px 25px 0px;
    }
    &__wrapper {
        padding: 125px 25px 25px 25px;
        display: grid;
        grid-template-columns: 565px 1fr;
        gap: 50px;
    }
    &__title {
        font-weight: 600;
        font-size: 60px;
        line-height: 60px;
        span {
            color: $color-pink-dark;
        }
    }
    &__text {
        p {
            margin-top: 32px;
        }
    }
    &__btn {
        display: inline-block;
        margin-top: 45px;
        padding: 14px 50px;
    }

    &__images {
        position: relative;
        max-width: 500px;
        &::after {
            content: '';
            position: absolute;
            display: block;
            left: -15px;
            bottom: -15px;
            width: 90%;
            height: 70%;
            border-radius: 25px;
            background-color: $color-green;
            z-index: -5;
        }
    }
    &__img {
        max-width: 100%;
    }
}