.steps {
    margin-top: 100px;
    &__list {
        margin-top: 30px;
        padding: 10px;
    }
    &__item {
        margin: 0 auto; 
        margin-top: 30px;
        display: grid;
        grid-template-columns: 70px auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 20px;
        max-width: 900px;
        &:first-child {
            margin-top: 0;
            .steps__num {
                padding-right: 3px;
            }
        }
    }
    &__num {
        width: 70px;
        height: 70px;
        background-color: $color-pink;
        border-radius: 100%;
        font-weight: 500;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__descr {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-list {
            padding-left: 30px;
        }

    }
}
.item {

}
