@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Light.woff') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Regular.woff') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-Medium.woff') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka-SemiBold.woff') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    color: $color-black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

img {
    border-radius: 25px;
}

dl, ul, p {
    margin: 0;
    padding: 0;
}
h4 {
    margin-bottom: 0;
}

.divider {
    margin: 0 auto;
    width: 100px;
    height: 2px;
    background-color: $color-pink-dark;
    margin-top: 10px;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;    
    border: none;
    text-align: center;
    border-radius: 25px;
    background-color: $color-green;
    transition: .2s all;
    font-size: 17px;
    line-height: 26px;
    &:hover {
        background-color: $color-pink-dark;
    }
}

@import 'blocks/about';
@import 'blocks/cat';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/help';
@import 'blocks/info';
@import 'blocks/promo';
@import 'blocks/steps';
@import 'blocks/story';
@import 'blocks/title';

@import 'blocks/media';
