@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/media';
